 :root {
    --maincoinlor:#308879;
    --graycolor: #e9e8ee;

 }
 * {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
 }
 body{
    background-color: #e9e8ee;
 }
 .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
 }

 /* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/*start Header*/
 header {
    color: var(--maincoinlor);
    text-transform: uppercase;
    padding: 27px;
    background-color: var( --graycolor);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}
header .container h1 {
    font-size: 35px;
    width: 20%;
    margin: 0px;
}
.container ul {
    padding: 0;
    margin: 0;
}

.container nav {
    font-size: 23px;
    width: 80%;
    padding: 0px 73px 0px 0p;
    text-align: right;
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin : 0px 35px;
    position: relative;
}
.container nav li:not(:last-child):after {
    content: "";
    height: 3px;
    width: 0;
    background: var(--maincoinlor);
    position: absolute;
    left:0;
    bottom: -5px;
    transition: 1s;
}
.container nav li:not(:last-child):hover::after {
    width: 100%;
}
.login { 

    color:var( --graycolor);
    background-color:var(--maincoinlor);
    border-radius: 25px;
    padding: 10px 63px;
}
/*End Header*/
section {
    display: flex;
    height: calc(100vh - 64px);
    background-color: #e9e8ee;
}
article {
    width: 50%;
   padding: 247px 55px;
}
aside {
    width: 50%;
}

img {
    width: 100%;
    height: 465px;
    margin-top :241px;
    margin-left: -10px;
    }
footer {
    background-color: #308879;
    height: 94px;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    padding: 38px 50px;
    color: #e9e8ee;
    text-transform: uppercase;
}
footer ul {
    text-align: center;
}
.txt1 , .txt2 {
    text-transform: uppercase;
    color: #308879;
}
.txt1 , .txt2 ,.txt3 {
    margin: 0px 0px 0px 355px;

}
.txt1 {
    font-size:50px;
    font-size: 80px;
}

.txt2 {
    font-size: 43px;
    padding: 0px 4px;
    margin-top: -20px;
}
.txt3 {
    color: #a9a99e;
    padding: 0px 0px 0px 7px;
    margin-top: 13px;
}

.txt4 {
    text-transform: uppercase;
    color: #e9e8ee;
    background-color: #308879;
    text-align: center;
    margin: 0px 364px;
    padding: 10px 0px;
    border-radius: 20px;
    margin-top: 18px;
}



@media  screen  and (min-width : 1440px)and (max-width : 1779px)  {
    article {
       
        padding: 149px 55px;
    }
    img {
        margin-top: 132px;
        width: 87%;
        height: 443px;
    }
    .txt4 {
        margin: 21px 294px 0px 198px;
    }
    .txt1, .txt2 , .txt3  {
        margin: 0px 0px 0px 187px;
    }
}